@{
    ViewData["Title"] = "Ürün Listesi";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Ürünler Tablosu</h3>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>İsim</th>
                <th>Fiyat</th>
                <th>Tarih</th>
            </tr>
        </thead>
        <tbody>
            @{
                var products = Newtonsoft.Json.JsonConvert.DeserializeObject<List<JsonProject.Models.Product>>(ViewBag.JsonData);

                foreach (var product in products)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.İsim</td>
                        <td>@product.Fiyat.ToString("C")</td>
                        <td>@product.Tarih.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
